body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}


.first{
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    
}

.first-central{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    
    padding-bottom: 75px;
    gap: 75px;
    
}

.header{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    
    
}

.header h1{
    font-size: 24px;
    color: #F9FAF8;
}

.header ul{
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header a{
    text-decoration: none;
    color: rgb(192, 192, 192);
}

.first-main{
    display: flex;
    gap: 50px;
}

.first-main-right{
    background-color: rgb(129, 128, 128);
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-main-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.first-main-left h2{
    font-size: 48px;
    margin: 0px;
    color: #F9FAF8;
    font-weight: 900;
}

.first-main-left p{
    font-size: 18px;
    color: #E5E7EB;
}


.first-main-left, .first-main-right{
    max-width: 650px;
    flex: 1;
}

.first-main-left button{
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: #3882F6;
    border-radius: 7px;
    
}

/* Second Section */

.second{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 70px;
}

.second h3{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.second-main{
    display: flex;
    
    align-items: center;
    gap:16px;
}

.second-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 200px;
}

.blue-square {
  width: 100px;
  height: 100px;
  border: 3px solid #3284ff;
  border-radius: 9px;
}


/* Third Section */

.third{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
}

.third-main{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 600px;
}

#thor{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

#quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
}

/* Fourth Section */

.fourth{
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.fourth-main{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    border-radius: 9px;
    color: white;
    gap: 80px;
    padding: 25px 65px;
    
}

.fourth-main h4{
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
}

.fourth-main p{
    font-size: 18px;
    font-weight: 300;
}

.fourth-main button{
    color: white;
    border: 1px solid white;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 7px;
    padding: 8px 22px;
    flex-shrink: 0;
}

/* Footer */

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}
